#content {
    background: #191919;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

a:active{
    color: #bd1812;
}

#navigation {
    color: #fff;
    padding: 20px;
}

#ogl {
    color: #bd1812;
    font-size: 30px;
    padding: 50px;
}

.change {
    font-size: 20px;
    padding: 20px;
}

td {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr.head_table {
    color: #bd1812;
}

tr {
    color: #fff;
    font-size: 20px;
    padding: 30px;
}